{
  "printWidth": 100,
  "tabWidth": 2,
  "tabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingCommas": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
