<!DOCTYPE html>
<html class="has-background-white-ter" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- if title -%}{{ title }} • {% endif -%}{{ site.title }}</title>
  <meta name="description" content="{{ meta.description if meta.description else site.description }}">
  <link rel=canonical href="{{ site.url }}{{ page.url | url }}">
  <link rel="alternate" type="application/atom+xml" href="{{ site.feedUrl | url }}" title="{{ site.title }} Atom feed">
  <link rel="webmention" href="https://webmention.io/stedman.dev/webmention">
  <link rel="pingback" href="https://webmention.io/stedman.dev/xmlrpc">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/css/prism-atom-dark.css' | url }}">
</head>
<body>
  <header class="page-header hero">
    <div class="hero-body is-paddingless">
      <div class="container">
        <div class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item title is-size-4-tablet" href="{{ '/' | url }}">
              {{ site.title }}
            </a>
          </div>

          <div class="navbar-menu is-size-5">
            <div class="navbar-end">
              <a class="navbar-item" href="{{ '/' | url }}">
                Home
              </a>
              <a class="navbar-item" href="{{ '/about/' | url }}">
                About
              </a>
              <a class="navbar-item" href="{{ '/atom.xml' | url }}">
                <span class="is-sr-only">Atom feed</span>
                <span class="icon" title="Atom feed">
                  <ion-icon class="is-size-5" src="{{ '/assets/icon/logo-rss.svg' | url }}"></ion-icon>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="page-main section has-background-white">
    <div class="columns">
      <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop content is-size-5">
        {{ content | safe }}
      </div>
    </div>
  </main>

  <footer class="page-footer footer has-background-white-ter has-offset-top">
    <div class="container">
      <div class="navbar has-background-white-ter">
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <span class="navbar-item is-inline-block-tablet">
              &copy; {{ page.date.getFullYear() }}
              <a class="h-card" rel="me" href="{{ site.url | url }}/">
                {{ site.author.name }}
              </a>
            </span>
            <a class="navbar-item is-sr-only-desktop is-inline-block-tablet" href="{{ '/about/' | url }}">
              About
            </a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item is-inline-block-tablet" href="https://linkedin.com/in/{{ site.author.linkedin }}" rel="me">
              <span class="icon tooltip" title="&ldquo;{{ site.author.linkedin }}&rdquo; on LinkedIn">
                <ion-icon class="is-size-3" src="{{ '/assets/icon/logo-linkedin.svg' | url }}"></ion-icon>
              </span>
              <span class="is-sr-only-desktop">LinkedIn: {{ site.author.linkedin }}</span>
            </a>
            <a class="navbar-item is-inline-block-tablet" href="https://twitter.com/{{ site.author.twitter }}" rel="me">
              <span class="icon tooltip" title="&ldquo;@{{ site.author.twitter }}&rdquo; on Twitter">
                <ion-icon class="is-size-3" src="{{ '/assets/icon/logo-twitter.svg' | url }}"></ion-icon>
              </span>
              <span class="is-sr-only-desktop">Twitter: @{{ site.author.twitter }}</span>
            </a>
            <a class="navbar-item is-inline-block-tablet" href="https://github.com/{{ site.author.github }}" rel="me authn">
              <span class="icon tooltip" title="&ldquo;{{ site.author.github }}&rdquo; on GitHub">
                <ion-icon class="is-size-3" src="{{ '/assets/icon/logo-github.svg' | url }}"></ion-icon>
              </span>
              <span class="is-hidden-desktop">GitHub: {{ site.author.github }}</span>
            </a>
            <a class="navbar-item is-sr-only-desktop" href="https://github.com/stedman/stedman.dev/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {%- if app.environment != 'dev' -%}
  <!-- Begin Web-Stat code v 7.0 -->
  <span id="wts1975337"></span>
  <script>var wts7 = {invisible:'yes'};
  var wts=document.createElement('script');wts.async=true;
  wts.src='https://wts.one/log7.js';document.head.appendChild(wts);
  wts.onload = function(){ wtslog7(1975337,1); };
  </script><noscript><a href="https://www.web-stat.com">
  <img src="https://wts.one/7/1/1975337.png"
  alt="Web-Stat site statistics"></a></noscript>
  <!-- End Web-Stat code v 7.0 -->
  {%- endif -%}
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>
