---
layout: base
---

<article class="h-entry">
  <h1 class="p-name">{{ title }}</h1>

  <p class="is-sr-only">By <em class="p-author">Steve Stedman</em></p>

  <p class="has-text-grey is-size-6">
    <time class="dt-published" datetime="{{ page.date | dateToRfc3339 }}">
      {{ page.date | date: '%B %e, %Y' }}
    </time>
  </p>

  <div class="e-content mt-6">
    {{ content }}
  </div>
</article>
