/*
 * Bulma overrides
 */

code {
  // does not play well with content width
  pre & {
    white-space: pre-wrap;
  }

  // conflicts with Prism class name
  .number {
    align-items: initial;
    background-color: initial;
    border-radius:initial;
    display: initial;
    font-size:initial;
    height: initial;
    justify-content:initial;
    margin-right:initial;
    min-width:initial;
    padding: initial;
    text-align:initial;
    vertical-align:initial;
  }

  // conflicts with Prism class name
  .tag:not(body) {
    align-items: initial;
    background-color: initial;
    border-radius: initial;
    color: initial;
    display: initial;
    font-size: initial;
    height: initial;
    justify-content: initial;
    line-height: initial;
    padding-left: initial;
    padding-right: initial;
    white-space: initial;
  }
}

.content {
  // fix nested list margins
  li {
    p {
      & + ol,
      & + ul {
        margin-top: -0.5em;
      }
    }

    ol,
    ul {
      margin-top: 0.5em;
      margin-bottom: 0.75em;
    }
  }
}
