/*
 * Extend Bulma
 */

 @media screen and (min-width: $desktop) {
  // This class does not exist in Bulma, but seemed useful to hide things on desktop
  .is-sr-only-desktop {
    border: none !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 0.01em !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 0.01em !important;
  }
}
