// Add external link arrows
.page-main {
  a {
    text-decoration: underline;
    text-decoration-color: hsl(187.1, 70%, 60%);
  }

  .external-link {
    &::after {
      background: url('../icon/external-link-blue.svg') no-repeat;
      content: '';
      height: 1em;
      opacity: 0;
      position: absolute;
      transform: translate(-1em, 0.9em) rotate(45deg);
      transition: opacity 0.2s, transform 0.3s;
      vertical-align: top;
      width: 11px;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translate(-0.05em, -0.05em);
        transition: opacity 0.1s, transform 0.3s;
      }
    }
  }
}

// Hide anchor links until parent is hovered
a.anchor-link {
  opacity: 0.4;
  text-decoration: none;
  transition: 0.3s;

  :hover > & {
    opacity: 1;
  }

  svg {
    vertical-align: -1px;
    width: 0.6em;
  }
}
