@charset "utf-8";

// Make more accessible
$grey: hsl(0, 0%, 46%);
$red: hsl(348, 86%, 47%);
$primary: hsl(12, 70%, 45%);

// @import "../../node_modules/bulma/bulma.sass";

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$scheme-main: $white-ter;
$footer-background-color: $white-ter;
$code: $black-ter;
$code-background: transparent;
$code-padding: 0.1em 0.3em;

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.scss";
// @import "../../node_modules/bulma/sass/utilities/animations.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../node_modules/bulma/sass/utilities/controls.sass";

@import "../../node_modules/bulma/sass/base/minireset.sass";
@import "../../node_modules/bulma/sass/base/generic.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";

@import "../../node_modules/bulma/sass/elements/box.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
// @import "../../node_modules/bulma/sass/elements/progress.sass";
// @import "../../node_modules/bulma/sass/elements/table.sass";
// @import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/elements/other.sass";

// @import "../../node_modules/bulma/sass/form/shared.sass";
// @import "../../node_modules/bulma/sass/form/input-textarea.sass";
// @import "../../node_modules/bulma/sass/form/checkbox-radio";
// @import "../../node_modules/bulma/sass/form/select.sass";
// @import "../../node_modules/bulma/sass/form/file.sass";
// @import "../../node_modules/bulma/sass/form/tools.sass";

// @import "../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
// @import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/components/media.sass";
// @import "../../node_modules/bulma/sass/components/menu.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
// @import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
@import "../../node_modules/bulma/sass/components/panel.sass";
// @import "../../node_modules/bulma/sass/components/tabs.sass";

@import "../../node_modules/bulma/sass/grid/_all.sass";
// @import "../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../node_modules/bulma/sass/grid/tiles.sass";

@import "../../node_modules/bulma/sass/layout/_all.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";
// @import "../../node_modules/bulma/sass/layout/footer.sass";

/*
 * Bulma overrides
 */

// This is more of a tweak.
.content {
  // fix nested list margins
  li {
    p {
      & + ol,
      & + ul {
        margin-top: -0.5em;
      }
    }

    ol,
    ul {
      margin-top: 0.5em;
      margin-bottom: 0.75em;
    }
  }
}

.icon {
  vertical-align: bottom;
}

code {
  border-radius: $radius;

  &:not([class*='language-']) {
    border: 1px solid #ddd;
  }

  pre & {
    // does not play well with content width
    white-space: pre-wrap;
  }
}

/*
 * Extend Bulma
 */

 @media screen and (min-width: $desktop) {
  // This class does not exist in Bulma, but seemed useful to hide things on desktop
  .is-sr-only-desktop {
    border: none !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 0.01em !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 0.01em !important;
  }
}

/*
 * THE REST
 */

.site-logo {
  color: $primary;
  margin-right: 0.4em !important;
}

.small {
  font-size: 0.75em;
}

/*
 * FAUX BROWSER CHROME FOR SCREENCAPS
 */
 $desktop: 1024px;

 .content {
   max-width: 960px;
 }

 /*
  * FAUX BROWSER CHROME FOR SCREEN CAPTURES
  */

.browser-chrome {
  background-color: #111;
  border-radius: 0.4vw;
  box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.15);
  margin-bottom: 3rem;
  padding-top: 1.8vw;

  @media screen and (min-width: $desktop) {
    border-radius: 0.3rem;
    padding-top: 1.2rem;
  }

  // increase specificity to override Bulma
  &#{&} {
    margin-bottom: 3rem;

    img {
      display: block;
    }
  }

  figcaption {
    font-size: 1rem;
    margin-top: 0.5rem;
    position: absolute;
    right: 0;
  }
}

.browser-parts {
  // top gap value
  $top: 0.55vw;
  $topMax: 0.4rem;
  // dot height and width value
  $dot: 0.7vw;
  $dotMax: 0.45rem;
  // left width value
  $gap: 0.6vw;
  $gapMax: 0.4rem;

  &,
  &:before,
  &:after {
    background-color: #ff5f55;
    border-radius: 1rem;
    height: $dot;
    position: absolute;
    top: $top;
    width: $dot;

    @media screen and (min-width: $desktop) {
      height: $dotMax;
      top: $topMax;
      width: $dotMax;
    }
  }

  & {
    left: $gap;

    @media screen and (min-width: $desktop) {
      left: $gapMax;
    }
  }

  &:before,
  &:after {
    background-color: #ffc332;
    content: '';
    left: $gap * 2;
    top: 0;

    @media screen and (min-width: $desktop) {
      left: $gapMax * 2;
    }
  }

  &:after {
    background-color: #28c841;
    left: $gap * 4;

    @media screen and (min-width: $desktop) {
      left: $gapMax * 4;
    }
  }
}

@import "links";
@import "tooltips";
@import "prism-syntax-highlighting";
