@import "../assets/css/prism-atom-dark";

/*
 * Code highlighting
 */

 .highlight-line {
  display: inline-block;

  /* del, ins, mark default styles */
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

.highlight-line:not(:last-child) {
  min-width: 100%;
}
.highlight-line .highlight-line:not(:last-child) {
  min-width: 0;
}

/*
 * Dark theme
 */

$txt-shdw: 0 0 2px hsla(0, 0%, 0%, 0.8);

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
  text-shadow: $txt-shdw;
}
.highlight-line-add {
  background-color: #45844b;
  text-shadow: $txt-shdw;
}
.highlight-line-remove {
  background-color: #902f2f;
  text-shadow: $txt-shdw;
}
